body {
  background-image: url("/assets/home/background-home-mobile.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.content,
.content__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.content {
  flex: 1;
}

.content__explore {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-blue-900);
  margin-top: auto;
  margin-bottom: auto;
  font-family: var(--font-preset-4-family);
  font-size: var(--font-preset-4-size);
  font-weight: var(--font-preset-4-weight);
  letter-spacing: var(--font-preset-4-spacing);
  line-height: var(--font-preset-4-line-height);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 50%;
  width: 144px;
  height: 144px;
  transition: 0.4s ease-in-out;
}

.content__explore:hover {
  box-shadow: 0px 0px 0px 100px rgba(255, 255, 255, 0.1);
}
