* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --color-blue-900: #0b0d17;
  --color-blue-300: #d0d6f9;
  --color-white: #ffffff;

  /* FONT FAMILIES */

  --font-bellefair: "Bellefair", serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;

  /* TEXT PRESETS */
  /* Preset 1 — Bellefair Regular */
  --font-preset-1-family: var(--font-bellefair);
  --font-preset-1-size: clamp(64px, 5vw, 144px);
  --font-preset-1-line-height: 1.719;
  --font-preset-1-spacing: 0px;
  --font-preset-1-weight: 400;

  /* Preset 2 — Bellefair Regular */
  --font-preset-2-family: var(--font-bellefair);
  --font-preset-2-size: 100px;
  --font-preset-2-line-height: 1.146;
  --font-preset-2-spacing: 0px;
  --font-preset-2-weight: 400;

  /* Preset 3 — Bellefair Regular */
  --font-preset-3-family: var(--font-bellefair);
  --font-preset-3-size: 56px;
  --font-preset-3-line-height: 1.142;
  --font-preset-3-spacing: 0px;
  --font-preset-3-weight: 400;

  /* Preset 4 — Bellefair Regular */
  --font-preset-4-family: var(--font-bellefair);
  --font-preset-4-size: clamp(18px, 2vw, 32px);
  --font-preset-4-line-height: 1.147;
  --font-preset-4-spacing: 0px;
  --font-preset-4-weight: 400;

  /* Preset 5 — Barlow Condensed Regular */
  --font-preset-5-family: var(--font-barlow-condensed);
  --font-preset-5-size: clamp(14px, 2vw, 28px);
  --font-preset-5-line-height: 1.2;
  --font-preset-5-spacing: 4px;
  --font-preset-5-weight: 400;

  /* Preset 6 — Bellefair Regular */
  --font-preset-6-family: var(--font-bellefair);
  --font-preset-6-size: 28px;
  --font-preset-6-line-height: 1.146;
  --font-preset-6-spacing: 0px;
  --font-preset-6-weight: 400;

  /* Preset 7 — Barlow Condensed Regular */
  --font-preset-7-family: var(--font-barlow-condensed);
  --font-preset-7-size: 14px;
  --font-preset-7-line-height: 1.2;
  --font-preset-7-spacing: 2px;
  --font-preset-7-weight: 400;

  /* Preset 8 — Barlow Condensed Regular */
  --font-preset-8-family: var(--font-barlow-condensed);
  --font-preset-8-size: 16px;
  --font-preset-8-line-height: 1.2;
  --font-preset-8-spacing: 2px;
  --font-preset-8-weight: 400;
  --font-preset-8-bold: 800;

  /* Preset 9 — Barlow Regular */
  --font-preset-9-family: var(--font-barlow);
  --font-preset-9-size: clamp(16px, 2vw, 18px);
  --font-preset-9-line-height: 1.8;
  --font-preset-9-spacing: 0px;
  --font-preset-9-weight: 400;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 1.5rem;
  padding-inline: 1.5rem;
  padding-block-end: 1.5rem;
  /* width: 100%; */
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* flex: 1; */
}

nav {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

a {
  text-decoration: none;
}
.logo {
  width: 40px;
  height: 40px;
}
/* .nav__panel {
  display: none;
} */

.nav__panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgb(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 65%;
  padding-block-start: 2rem;
  gap: 4rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.nav__panel--open {
  transform: translateX(0);
}

.nav__close,
.nav__open {
  background-color: transparent;
  border: 0;
}

.nav__open--hidden {
  display: none;
}

.nav__close {
  align-self: flex-end;
  padding-inline-end: 1.5rem;
}
.nav__list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 2rem;
  gap: 2rem;
}
.nav__element {
  list-style-type: none;
}

.nav__link {
  font-family: var(--font-preset-8-family);
  font-size: var(--font-preset-8-size);
  font-weight: var(--font-preset-8-weight);
  letter-spacing: var(--font-preset-8-spacing);
  line-height: var(--font-preset-8-line-height);
  display: flex;
  width: fit-content;
  gap: 0.5rem;
  color: var(--color-white);
}

.nav__element:hover {
  border-right: 3px solid white;
}

.nav__number {
  font-weight: var(--font-preset-8-bold);
}

section {
  color: white;
  padding: 1.5rem;
}

.content__header {
  font-family: var(--font-preset-1-family);
  font-size: var(--font-preset-1-size);
  font-weight: var(--font-preset-1-weight);
  letter-spacing: var(--font-preset-1-spacing);
  line-height: var(--font-preset-1-line-height);
}

.content__paragraph {
  font-family: var(--font-preset-5-family);
  font-size: var(--font-preset-5-size);
  font-weight: var(--font-preset-5-weight);
  letter-spacing: var(--font-preset-5-spacing);
  line-height: var(--font-preset-5-line-height);
  color: var(--color-blue-300);
}

.content__description {
  font-family: var(--font-preset-9-family);
  font-size: var(--font-preset-9-size);
  font-weight: var(--font-preset-9-weight);
  letter-spacing: var(--font-preset-9-spacing);
  line-height: var(--font-preset-9-line-height);
  color: var(--color-blue-300);
  text-align: center;
}
